*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primaryColor: #253898;
  --secondaryColor: #5737D6;
  --color: #253898;
}
body{
  background-color: #222;    
  height: 100%;
  vertical-align: middle;
}
#root{
  height: 100%;
}
main{
  max-width: 750px;
  background-image: linear-gradient(to right, var(--primaryColor), var(--secondaryColor));
  display: flex;
  align-items: stretch;
  margin: 15vh auto;
  width: 100%;
  height: 70vh;
  border-radius: 10px;
  overflow: hidden;
}
main > div{
  flex: 1;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}
.form__wrap{
  max-width: 270px;
  border-right: solid 1px rgb(255 255 255 / 27%);
}
.user__wrap > p{
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 40px;
}
